{{#each groupedSelectedOptions as |opt|}}
  <b>{{opt.path}}</b>
  {{#each opt.options as |o|}}
    <div>
      {{o.label}}
    </div>
  {{/each}}
{{/each}}

{{#power-select
  options=currentOptions
  selected=__selectedOptions
  renderInPlace=true
  closeOnSelect=false
  onchange=(action "onToggleGroup")
  searchEnabled=false
  optionsComponent=(component 'tree-options'
    listClass=listClass
    groupClass=groupClass
    groupNameClass=groupNameClass
    optionsClass=optionsClass
    optionClass=optionClass
    onToggleGroup=(action 'onToggleGroup')
    handleChecked=(action 'handleChecked')
  ) as |leaf| }}
  {{#if hasBlock}}
    {{yield leaf}}
  {{else}}
    <span class="ember-power-select-tree-leaf">
      <span {{action 'onToggleGroup' leaf}} class="ember-power-select-tree-leaf-label">
        {{leaf.label}}
      </span>
      {{#if leaf.isSelectable}}
        <span class="ember-power-select-tree-leaf-checkbox">
          {{input type='checkbox' change=(action 'handleChecked' leaf) checked=leaf.isChecked}}
        </span>
      {{/if}}
    </span>
  {{/if}}
{{/power-select}}
