{{grouped-selections
  customProp=customProp
  customComponent=customComponent
  labelOpt=labelOpt
  removeNodeOrLeaf=(action 'removeNodeOrLeaf')
  groupedSelectedOptions=groupedSelectedOptions}}

{{#power-select
  options=currentOptions
  renderInPlace=true
  closeOnSelect=false
  placeholder=placeholder
  onchange=(action "onToggleGroup")
  oninput=(action "handleSearch")
  class="ember-power-select-tree"
  onclose=(action 'onclose')
  optionsComponent=(component 'tree-options'
    onToggleGroup=(action 'onToggleGroup')
    handleChecked=(action 'handleChecked')
  ) as |leaf| }}
  {{#if hasBlock}}
    {{yield leaf}}
  {{else}}
    <span class="ember-power-select-tree-leaf-container">
      <span class="ember-power-select-tree-leaf-label">
        {{get leaf labelOpt}}
      </span>
      <span class="ember-power-select-tree-leaf-checkbox">
        {{input
          change=(action 'handleChecked' leaf)
          type='checkbox'
          id=(concat leaf.humanPath leaf.key)
          checked=leaf.isChecked}}
        <label for={{concat leaf.humanPath leaf.key}}></label>
      </span>
    </span>
  {{/if}}
{{/power-select}}
