<div class="ember-power-select-tree-selected-list">
  {{#each groupedSelectedOptions as |opt|}}
    <ul class="ember-power-select-tree-selected-group">
      <li>
        <div>
          <b class="ember-power-select-tree-selected-group-path">
            {{opt.path}}
          </b>
          <span class="ember-power-select-tree-x" {{action 'removeNodeOrLeaf' opt}}>
            X
          </span>
        </div>
        <ul>
          {{#each opt.options as |o|}}
            <li class="ember-power-select-tree-selected-option">
              {{get o labelOpt}}
              <span class="ember-power-select-tree-x" {{action 'removeNodeOrLeaf' o}}>
                X
              </span>
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  {{/each}}
</div>

{{#power-select
  options=currentOptions
  renderInPlace=true
  closeOnSelect=false
  placeholder=placeholder
  onchange=(action "onToggleGroup")
  searchEnabled=false
  class="ember-power-select-tree"
  optionsComponent=(component 'tree-options'
    onToggleGroup=(action 'onToggleGroup')
    handleChecked=(action 'handleChecked')
  ) as |leaf| }}
  {{#if hasBlock}}
    {{yield leaf}}
  {{else}}
    <span class="ember-power-select-tree-leaf-container"
      {{action 'handleChecked' leaf preventDefault=false}}>
      <span class="ember-power-select-tree-leaf-label">
        {{get leaf labelOpt}}
      </span>
      <span class="ember-power-select-tree-leaf-checkbox">
        {{input type='checkbox' id=(concat leaf.path leaf.key) checked=leaf.isChecked}}
        <label for={{concat leaf.path leaf.key}}></label>
      </span>
    </span>
  {{/if}}
{{/power-select}}
