<div class="ember-power-select-tree-selected-list">
  {{#each groupedSelectedOptions as |opt|}}
    <div class="ember-power-select-tree-selected-group">
      <b class="ember-power-select-tree-selected-group-path">
        {{opt.humanPath}}
      </b>
      <span class="ember-power-select-tree-x" {{action 'removeNodeOrLeaf' opt}}>
        &#10005;
      </span>
    </div>
    <ul class="ember-power-select-tree-selected-options">
      {{#each opt.options as |o|}}
        <li class="ember-power-select-tree-selected-option">
          {{get o labelOpt}}
          <span class="ember-power-select-tree-x" {{action 'removeNodeOrLeaf' o}}>
            &#10005;
          </span>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>

{{#power-select
  options=currentOptions
  renderInPlace=true
  closeOnSelect=false
  placeholder=placeholder
  onchange=(action "onToggleGroup")
  oninput=(action "handleSearch")
  class="ember-power-select-tree"
  onclose=(action 'onclose')
  optionsComponent=(component 'tree-options'
    onToggleGroup=(action 'onToggleGroup')
    handleChecked=(action 'handleChecked')
  ) as |leaf| }}
  {{#if hasBlock}}
    {{yield leaf}}
  {{else}}
    <span class="ember-power-select-tree-leaf-container">
      <span class="ember-power-select-tree-leaf-label">
        {{get leaf labelOpt}}
      </span>
      <span class="ember-power-select-tree-leaf-checkbox">
        {{input
          change=(action 'handleChecked' leaf)
          type='checkbox'
          id=(concat leaf.humanPath leaf.key)
          checked=leaf.isChecked}}
        <label for={{concat leaf.humanPath leaf.key}}></label>
      </span>
    </span>
  {{/if}}
{{/power-select}}
