<div class="ember-power-select-tree-selected-list">
  {{#each groupedSelectedOptions as |opt|}}
    <ul class="ember-power-select-tree-selected-group">
      <li>
        <b class="ember-power-select-tree-selected-group-path">
          {{opt.path}}
        </b>
        <ul>
          {{#each opt.options as |o|}}
            <li class="ember-power-select-tree-selected-option">
              {{get o labelOpt}}
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  {{/each}}
</div>

{{#power-select
  options=currentOptions
  renderInPlace=true
  closeOnSelect=false
  onchange=(action "onToggleGroup")
  searchEnabled=false
  class="ember-power-select-tree"
  optionsComponent=(component 'tree-options'
    listClass=listClass
    groupItemClass=groupItemClass
    groupClass=groupClass
    groupNameClass=groupNameClass
    optionsClass=optionsClass
    optionClass=optionClass
    onToggleGroup=(action 'onToggleGroup')
    handleChecked=(action 'handleChecked')
  ) as |leaf| }}
  {{#if hasBlock}}
    {{yield leaf}}
  {{else}}
    <span class="ember-power-select-tree-leaf-container">
      <span {{action 'onToggleGroup' leaf}} class="ember-power-select-tree-leaf-label">
        {{get leaf labelOpt}}
      </span>
      {{#if leaf.isSelectable}}
        <span class="ember-power-select-tree-leaf-checkbox">
          {{input
            type='checkbox' id=(concat leaf.path leaf.key)
            change=(action 'handleChecked' leaf)
            checked=leaf.isChecked}}
          <label for={{concat leaf.path leaf.key}}></label>
        </span>
      {{/if}}
    </span>
  {{/if}}
{{/power-select}}
