{{#each options as |opt index|}}
  {{#if opt.nodeName}}
    <li class="ember-power-select-group" aria-disabled={{ember-power-select-true-string-if-present opt.disabled}} role="option">
      <span class="ember-power-select-group-name" {{action 'onToggleGroup' opt}}>
        {{if opt.isCollapsed '>' '\/'}}
        {{opt.nodeName}}
      </span>
      {{#if opt.isSelectable}}
        {{input type='checkbox' change=(action 'handleChecked' opt)}}
      {{/if}}
      {{#unless opt.isCollapsed}}
        {{#tree-options
          options=(readonly opt.options)
          select=(readonly select)
          groupIndex=(concat groupIndex index ".")
          optionsComponent=(readonly optionsComponent)
          role="group"
          onToggleGroup=(action 'onToggleGroup')
          handleChecked=(action 'handleChecked')
          class="ember-power-select-options" as |option|}}
            {{yield option select}}
        {{/tree-options}}
      {{/unless}}
    </li>
  {{else}}
    <li class="ember-power-select-option"
      aria-selected="{{ember-power-select-is-selected opt select.selected}}"
      aria-disabled={{ember-power-select-true-string-if-present opt.disabled}}
      aria-current="{{eq opt select.highlighted}}"
      data-option-index="{{groupIndex}}{{index}}"
      role="option">
      {{yield opt select}}
    </li>
  {{/if}}

  {{!--
  {{log opt}}
  <li class="ember-power-select-option"
    aria-selected="{{ember-power-select-is-selected opt select.selected}}"
    aria-disabled={{ember-power-select-true-string-if-present opt.disabled}}
    aria-current="{{eq opt select.highlighted}}"
    data-option-index="{{groupIndex}}{{index}}"
    role='option'>
    {{yield opt select}}
  </li>
  --}}
{{/each}}
