{{#each options as |opt index|}}
  {{#if opt.nodeName}}
    <li class="ember-power-select-group {{groupClass}}" aria-disabled={{ember-power-select-true-string-if-present opt.disabled}} role="option">
      <span class="ember-power-select-tree-group-name-container {{groupNameClass}}" {{action 'onToggleGroup' opt}}>
        <small class="ember-power-select-tree-group-delimiter">{{if opt.isCollapsed '▶' '▼'}}</small>
        <span class="ember-power-select-tree-group-name">{{opt.nodeName}}</span>
      </span>
      {{#if opt.isSelectable}}
        <span class="ember-power-select-tree-group-checkbox">
          {{input type='checkbox' checked=opt.isChecked change=(action 'handleChecked' opt)}}
        </span>
      {{/if}}
      {{#unless opt.isCollapsed}}
        {{#tree-options
          options=(readonly opt.options)
          select=(readonly select)
          groupIndex=(concat groupIndex index ".")
          optionsComponent=(readonly optionsComponent)
          role="group"
          onToggleGroup=(action 'onToggleGroup')
          handleChecked=(action 'handleChecked')
          class="ember-power-select-options {{optionsClass}}" as |option|}}
            {{yield option select}}
        {{/tree-options}}
      {{/unless}}
    </li>
  {{else}}
    <li class="ember-power-select-option {{optionClass}}"
      aria-disabled={{ember-power-select-true-string-if-present opt.disabled}}
      aria-current="{{eq opt select.highlighted}}"
      data-option-index="{{groupIndex}}{{index}}"
      role="option">
      {{yield opt select}}
    </li>
  {{/if}}
{{/each}}
